@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&family=Lavishly+Yours&family=Lobster&family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lobster&display=swap');
.home-container{
    height: 100vh;
    background-color: white;
}

.home__welcome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -105px;
    padding: 40px;
}
.text_conatiner{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.home_image img{
    width: 600px;
}
.text_upper{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    letter-spacing: 4px;
}
.text{
    background:linear-gradient(90deg, #00bdde, #fc00ff);
    font-size: 65px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home_desc{
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 30px;
}


.home_button{
  align-items: center;
  margin-top: 30px;
  width: 150px;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.home_button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.home_button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.home_button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}